# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.UltimateApi.iml
# Datasource local storage ignored files
/../../../../../../../:\Development\CompanyEmployees\UltimateAPI\.idea\.idea.UltimateApi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
